.left {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2 {
    color: #00ff88;
    font-size: 2.6vw;
}

img {
    width: 34vw;
}

@media screen and (max-width:480px) {
    
    .left{
        margin: 20px 0 60px;
        width: 100vw;
        height: 50vh;
        
    }

    h2{
        font-size: 1.8em;
    }

    img{
        width: 60%;
        
    }
}

@media screen and (min-width:480px) and (max-width:834px){
    h2{
        font-size: 4.8vw;
    }
    img{
        width: 85%;
    }
}