.right {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Login {
    background-color: #2F2841;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 40px #00000056;
    width: 60%;
    padding: 30px 35px;
}

.title {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.57);
}

form {
    width: 100%;
}

.textfield {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: flex-start;
    margin: 10px 0;
}

label {
    margin-right: auto;
    margin-bottom: 10px;
    color: #f0ffffde;
}

input::placeholder {
    color: #f0ffffde;
}

.senhaField {
    border-radius: 10px;
    background-color: #514869;
    width: 100%;
    box-shadow: 0 10px 40px #00000056;
    display: flex;
    justify-content: start;
    align-items: center;
}

.user {
    border-radius: 10px;
    background-color: #514869;
    color: #f0ffffde;
    font-size: 17px;
    outline: none;
    border: none;
    padding: 15px;
    width: 100%;
    box-shadow: 0 10px 40px #00000056;
    margin-bottom: 30px;
}

.senha {
    width: 90%;
    background-color: transparent;
    outline: none;
    border: none;
    color: #f0ffffde;
    font-size: 17px;
    padding: 15px;
    overflow: hidden;
}

svg {
    color: #f0ffffde;
    margin: auto;
    font-size: 1.5em;
    cursor: pointer;
}

svg:hover {
    opacity: .8;
}

.btn {
    width: 100%;
    margin: 25px 0;
    padding: 14px 0;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 20px;
    letter-spacing: 3px;
    background-color: #00ff88;
    font-weight: 800;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

.btn:hover {
    background-color: #00ff88;
    box-shadow: 0px 10px 40px -12px #00ff80bc;
}

.btn:active {
    opacity: .6;
}

@media screen and (max-width: 480px) {
    .right {
        width: 100vw;
        margin-bottom: 70px;
        height: 50vh;
    }

    .Login {
        padding: 30px 15px;
        width: 80%;
        height: 370px;

    }

    .title {
        font-size: 1.6em;
    }

    .senha {
        width: 80%;
    }

    i {
        font-size: 1.8em;
    }
}

@media screen and (min-width:480px) and (max-width:834px) {
    .Login {
        padding: 30px 15px;
        width: 80%;
    }

    .title {
        font-size: 1.6em;
    }

    .senha {
        width: 80%;
    }
}